# LISTS(Mutable)

In [78]:
baby_names = ['Ximena', 'Aliza', 'Ayden', 'Calvin']
baby_names

['Ximena', 'Aliza', 'Ayden', 'Calvin']

In [79]:
baby_names.extend(['Rowen', 'Sandeep'])
baby_names

['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']

In [80]:
position = baby_names.index('Aliza')
position

1

In [81]:
baby_names.pop(position)
baby_names

['Ximena', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']

In [82]:
names = ['Shreya','Rewa','Burad','Reeya','Neha','Alisha','Nishant','Pushkar','Tambat','Saurav','Tanishq']

In [83]:
baby_name = []

In [84]:
for row in names:
    baby_name.append(row)

In [85]:
for name in sorted(baby_name):
    print(name)

Alisha
Burad
Neha
Nishant
Pushkar
Reeya
Rewa
Saurav
Shreya
Tambat
Tanishq

# TUPLES (for immutable and ordered data)

In [86]:
girl_names = ['Shreya','Rewa','Burad','Reeya','Neha','Alisha']
boy_names  = ['Nishant','Pushkar','Tambat','Saurav','Tanishq']

In [87]:
#Often you'll want to pair up multiple array data types. The zip() function does just that.
#It will return a list of tuples containing one element from each list passed into zip().

pairs = zip(girl_names,boy_names)

In [88]:
#When looping over a list, you can also track your position in the list by using the enumerate() function.
#The function returns the index of the list item you are currently on in the list and the list item itself.

for idx,pair in enumerate(pairs):
    girl_name,boy_name = pair
    print('Rank {}: {} and {}'.format(idx, girl_name, boy_name))

Rank 0: Shreya and Nishant
Rank 1: Rewa and Pushkar
Rank 2: Burad and Tambat
Rank 3: Reeya and Saurav
Rank 4: Neha and Tanishq

In [89]:
normal = 'simple'
error = 'trailing comma',

print(type(normal))
print(type(error))

<class 'str'>
<class 'tuple'>

# SETS(Unique data)

In [90]:
girl_names = {'Shreya','Rewa','Burad','Reeya','Neha','Alisha'}
boy_names  = {'Nishant','Pushkar','Tambat','Saurav','Tanishq','Rewa'}

In [91]:
#The .union() method returns a set of all the names found in the 
#set you used the method on plus any sets passed as arguments to the method.

all_names = girl_names.union(boy_names)
all_names

{'Alisha',
 'Burad',
 'Neha',
 'Nishant',
 'Pushkar',
 'Reeya',
 'Rewa',
 'Saurav',
 'Shreya',
 'Tambat',
 'Tanishq'}

In [92]:
#overlapping data in sets by using the .intersection() method on a set and passing another set as an argument. 

overlapping_names = girl_names.intersection(boy_names)
overlapping_names

{'Rewa'}

In [93]:
#.add() function used to add stuff

# DICTIONARIES

In [94]:
girl_names = {1:'Shreya',2:'Rewa',3:'Burad',4:'Reeya',5:'Neha',6:'Alisha'}
boy_names  = {7:'Nishant',8:'Pushkar',9:'Tambat',10:'Saurav',11:'Tanishq',12:'Rewa'}

In [95]:
names_by_rank = {}

for rank, name in girl_names.items():
    names_by_rank[rank] = name
    
for rank in sorted(names_by_rank, reverse=True)[:10]:
    print(names_by_rank[rank])

Alisha
Neha
Reeya
Burad
Rewa
Shreya

In [96]:
print(girl_names.get(4))

Reeya

In [97]:
print(girl_names.get(21,'Not Found'))

Not Found

In [98]:
print(boy_names.keys())

dict_keys([7, 8, 9, 10, 11, 12])

In [99]:
boy_names[9]

'Tambat'

In [100]:
#.update() method to update a dictionary with keys and values from another dictionary, tuples or keyword arguments.

In [101]:
girl_names.pop(5)
del girl_names[2]

In [102]:
girl_names

{1: 'Shreya', 3: 'Burad', 4: 'Reeya', 6: 'Alisha'}

In [103]:
boy_names.popitem()

(12, 'Rewa')

In [104]:
for rank,name in boy_names.items():
    print(rank,name)

7 Nishant
8 Pushkar
9 Tambat
10 Saurav
11 Tanishq

In [105]:
if 12 in boy_names:
    print('BOY?!!')

# COUNTER

In [106]:
from collections import Counter

In [107]:
boyz_names  = ['Nishant','Pushkar','Tambat','Saurav','Tanishq','Rewa','Pushkar','Nishant','Tambat','Pushkar']

In [108]:
count = Counter(boyz_names)
count

Counter({'Nishant': 2,
         'Pushkar': 3,
         'Tambat': 2,
         'Saurav': 1,
         'Tanishq': 1,
         'Rewa': 1})

In [113]:
count.most_common(2)

[('Pushkar', 3), ('Nishant', 2)]

# DEFAULTDICT

In [116]:
#A defaultdict allows you to define what each uninitialized key will contain.(will hold the missing values)
#When establishing a defaultdict, you pass it the type you want it to be, such as a list, tuple, set, int, string, dictionary or any other valid type object.

#Making a Defaultdict

from collections import defaultdict
data = defaultdict(list)

# NAMEDTUPLE

In [118]:
#Python has another container called a namedtuple that is a tuple, but has names for each position of the tuple.
#You create one by passing a name for the tuple type and a list of field names.

NameError: name 'entries' is not defined

In [119]:
from collections import namedtuple

#Making a namedtuple

Information = namedtuple('Information',['name','rollno','location','cellno'])

info = []

for item in entries:
    details = Information(item['name'],item['rollno'],item['location'],item['cellno'])
    info.append(details)

SyntaxError: invalid syntax (<ipython-input-119-d4e81f996952>, line 1)